body {
    background-image: url(running.jpg);
    background-attachment: fixed;
    background-size: cover;
}

label {
    font-family: 'VT323';
      Color: White;
}

a {
    font-family: 'VT323';
      Color: White;
}

h1{
    color: White;
}
